@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    position: relative;
    text-align: center;
}

nav {
    background: #00785c;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.toggle-btn {
    display: none;
    background: #555;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.background-video video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.book-gallery {
    padding: 20px 0;
}

.book-item {
    position: relative;
    width: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.book-cover {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.book-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.book-item:hover .book-details {
    transform: translateY(0);
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #00785c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn:hover {
    background: #72fff1;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .toggle-btn {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}

.about {
    padding: 40px 0;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}